body {
    margin: 0;
    background: aliceblue;
}

body a {
    text-decoration: none;
}

.hidden {
    display: none;
}

/* Global Navbar scss variables */
$content-width: 1000px;
$breakpoint: 799px;
$nav-height: 70px;
$nav-background: #262626;
$nav-font-color: #ffffff;
$link-hover-color: #2581DC;